*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 85%;
    margin: auto;
}

ul{
    list-style-type: none;
}


/***** Start Navbar *****/
.navbar{
    background-color: #fff;
    padding: 20px 0;
}
.navbar .nav-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav-content .logo a{
    color: RGB(33, 37, 41);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
}
.navbar .nav-content .logo a::after{
    content: '';
    background-color: #CE1212;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: -5px;
}
.navbar .container .nav-content .nav-link ul{
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.navbar .container .nav-content .nav-link ul li{
    padding-block: 10px;
}
.navbar .container .nav-content .nav-link ul li a{
    text-decoration: none;
    color: #8C8A8C;
    font-size: 17px;
    font-weight: 600;
    position: relative;
}
.navbar .container .nav-content .nav-link ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #CE1212;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: all 1s;
}
.navbar .container .nav-content .nav-link ul li a:hover::after{
    width: 100%;
}
.navbar .container .nav-content .nav-icon i{
    color: #212529;
    font-size: 25px;
    font-weight: 900;
}
/***** End Navbar *****/

/***** Start Home Page *****/
.home-page{
    background-color: #EEEEEE;
    padding: 25px 0;
    min-height: 95vh;
    /* width: 100%; */
}
.home-page .container .home-content{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}
.home-page .container .home-content .home-info{
    /* width: 45%; */
    width: 100%;
    /* text-align: start; */
    text-align: center;

}
.home-page .container .home-content .home-info h2{
    color: #37373F;
    font-size: 65px;
    font-weight: 700;
    font-family: "Amatic SC", sans-serif;
   
}
.home-page .container .home-content .home-info p{
    color: #4F4F5A;
    font-weight: 400;
    padding-block: 10px;
}
.home-page .container .home-content .home-info .buttons{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: start; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.home-page .container .home-content .home-info .buttons button{
    margin-right: 30px; 
    color: #fff;
    background-color: red;
    border:solid red 2px ;
    border-radius : 0px 20px 20px 20px;
    padding: 15px 20px;
}
.home-page .container .home-content .home-info .buttons .button-youtube a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.home-page .container .home-content .home-info .buttons .button-youtube a:hover{
    color: red;
}
.home-page .container .home-content .home-info .buttons .button-youtube a i{
    margin-right: 15px;
    position: relative;
    z-index: 22;
}
.home-page .container .home-content .home-info .buttons .button-youtube a i::after{
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: -22;
}
.home-page .container .home-content .home-image{
    /* width: 40%; */
    width: 100%;
}
.home-page .container .home-content .home-image img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 3px 5px 10px 5px #888888;
    animation: shake 0.5s infinite;
    animation-play-state: paused;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.home-page .container .home-content .home-image img:hover{
    animation-play-state: running;
}
/***** End Home Page *****/

/***** start chefs page *****/
.chefs-page{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.chefs-page .container .chefs-info{
    padding: 30px;
    text-align: center;
}
.chefs-page .container .chefs-info h3{
    color: #7F7F90;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}
.chefs-page .container .chefs-info p{
    color:#212529;
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
}
.chefs-page .container .chefs-info p span{
    color: #CE1212;
}
.chefs-page .container .chefs-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chefs-page .container .chefs-image .items{
    /* width: calc((100% -60px) / 3); */
    width: 100%;
}

.chefs-page .container .chefs-image .items .inner{
    position: relative;
    background-color: #fff;
    overflow: hidden;
    transition: all 1s;
    border-radius: 20px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
.chefs-page .container .chefs-image .items .inner:hover {
    transform:scale(1.1 , 1.1); 
}
.chefs-page .container .chefs-image .items .inner:hover .img-icons{
    transform: translateX(0%);
}
.chefs-page .container .chefs-image .items img{
    width: 100%;
}
.chefs-page .container .chefs-image .items .inner .img-icons{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 15%;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 10px;
    transform: translateX(130%);
    transition: all 1s 1s;
    
}
.chefs-page .container .chefs-image .items .inner .img-icons ul li{
    padding-block: 10px;
    text-align: center;
}
.chefs-page .container .chefs-image .items .inner .items-info{
    text-align: center;
    padding: 25px;
}
.chefs-page .container .chefs-image .items .inner .items-info h3{
    color:#212529;
    font-family: Inter, sans-serif;
    font-size: 18.72px;
    font-weight: 700;
}
.chefs-page .container .chefs-image .items .inner .items-info p{
    margin: 8px;
    color: #7F7F90;
}
/***** End chefs Page *****/

/***** start gallery page *****/
.gallery-page{
    background-color: #EEEEEE;
}
.gallery-page .container .gallery-box{
    padding: 40px 0;
    /* columns: 3; */
    gap: 20px;
    columns: 1;
}

.gallery-page .container .gallery-info{
    text-align: center;
    padding: 15px 0;
}
.gallery-page .container .gallery-info h3{
    color: #7F7F90;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.gallery-page .container .gallery-info p{
    color:#212529;
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
}
.gallery-page .container .gallery-info p span{
    color: #CE1212;
}
.gallery-page .container .gallery-image{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}

.gallery-page .container .gallery-image .gallery-image-col img{
    width: 100%;
}
.gallery-page .container .gallery-image .gallery-image-col .item1 , .item2, .item3, .item4, .item5, .item6, .item7{
    position: relative;
    margin: 15px 0;
    overflow: hidden;
    border: #fff 4px solid;
}
.gallery-page .container .gallery-image .gallery-image-col .item:hover .image-dics{
    transform: translateY(-1%);
}
.gallery-page .container .gallery-image .gallery-image-col .image-dics{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(102%);
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.gallery-page .container .gallery-image .gallery-image-col .image-dics h2{
    color: #fff;
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    text-align: center;
}
.gallery-page .container .gallery-image .gallery-image-col .image-dics p{
    color: #DDD;
    text-align: center;
    padding: 0 20px;
}
/***** End gallery Page *****/

/***** start contact Page *****/
.contact-page{
    /* padding: 40px 0; */
}
.contact-page .container .contact-info{
    padding: 40px 0px;
    text-align: center;
}
.contact-page .container .contact-info h3{
    color: #7F7F90;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.contact-page .container .contact-info p{
    color:#212529;
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
}
.contact-page .container .contact-info p span{
    color: #CE1212;
}
.contact-page .container .contact-info iframe{
    display: block;
    width: 100%;
}
.contact-page .container .contact-mealify-info{
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;
    
}
.contact-page .container .contact-mealify-info .item{
    /* width: calc((100% - 30px) / 2); */
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 4px;
}
.contact-page .container .contact-mealify-info .item .icon{
    background-color:#CE1212;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    flex-shrink: 0;

}
.contact-page .container .contact-mealify-info .item .decsription h3{
    color: #7D7D7D;
    font-size: 20px;
    font-weight: 700;
    font-family:Inter, sans-serif;
}
.contact-page .container .contact-mealify-info .item .decsription p{
    color: #212529;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI" ,Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji" , "Segoe UI Symbol" ,"Noto Color Emoji"; 
    margin-top: 8px;  
}
.contact-page .container .contact-mealify-info .item .decsription p span{
    font-weight: 700;
}
.contact-page .container .contact-mealify-info .item .decsription a{
    text-decoration: none;
    color: #212529;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI" ,Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji" , "Segoe UI Symbol" ,"Noto Color Emoji"; 
    margin-top: 8px;
}

.contact-page .container .contact-form{
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
.contact-page .container .contact-form .form-input{
    margin-bottom: 20px;
}
.contact-page .container .contact-form .form-input input , textarea{
    width: 100%;
    padding: 18px;
    border: 1px solid #7D7D7D;
    font-size: 15px;
    outline: 0;
    color: #333333;

}
.contact-page .container .contact-form .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.contact-page .container .contact-form .row .form-input{
    /* width: calc((100% - 20px) /2); */
    width: 100%;
}
.contact-page .container .contact-form button{
    font-size: 18px; 
    padding: 12px 20px;
    background-color: #E61414;
    color: white;
    text-align: center;
    border: 2px solid #E61414;
    border-radius: 25px;
    margin: 20px auto; 
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI" ,Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji" , "Segoe UI Symbol" ,"Noto Color Emoji"; 
}
.contact-page .container .contact-form button:hover{
    background-color: #FF1C1D;
}
/***** End contact Page *****/

/***** Start footer *****/
footer {
    background-image: url('./../image/textured-metal-background.jpg');
    background-position: center;
    background-size: contain;
    padding: 40px 0;
    color: #fff;
}
footer .container .footer-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
footer .container .footer-box .about{
    /* width: calc( (100% - 40px) / 4); */
    width: 100%;
}
footer .container .footer-box .about .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   
}
footer .container .footer-box .about .title img{
    width: 40px;
    height: 40px;
}
footer .container .footer-box .about .title h2{
    position: relative;
   
}
footer .container .footer-box .about .title h2::after{
    content: '';
    background-color: #CE1212;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    bottom: 3px;
    right: -5px;
}
footer .container .footer-box .about p{
    line-height: 20px;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI" ,Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji" , "Segoe UI Symbol" ,"Noto Color Emoji"; 
}
footer .container .footer-box .about h3{
    font-size: 18.72px;
    font-weight: 700;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI" ,Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji" , "Segoe UI Symbol" ,"Noto Color Emoji"; 
    border-bottom: 2px solid #585858;
    text-align: center;
    padding-block: 5px;
}
footer .container .footer-box .about ul{
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
}
footer .container .footer-box .about ul a{
    color: #fff;
    font-size: 24px;
}
footer .container .footer-box .middle-footer{
    /* width: calc( (100% - 40px) / 2); */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}
footer .container .footer-box .middle-footer .title{
   margin: 10px 0; 
}
footer .container .footer-box .middle-footer .title h3{
   font-size: 18.72px;
   font-weight: 700;
   margin-bottom: 10px;
}
footer .container .footer-box .middle-footer .title p{
    margin: 10px 0;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI" ,Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji" , "Segoe UI Symbol" ,"Noto Color Emoji"; 
}
footer .container .footer-box .middle-footer .search-box{
    display: flex;
    gap: 8px;
}
footer .container .footer-box .middle-footer .search-box input{
    flex-grow: 1;
    padding: 10px;
    border: none;
}
footer .container .footer-box .middle-footer .search-box button{
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 5px;
    min-width: 110px;
}
footer .container .footer-box .middle-footer .search-box button i{
    margin-right: 5px;
}
footer .container .footer-box .middle-footer .quick-links h3{
    margin-bottom: 10px;
}
footer .container .footer-box .middle-footer .quick-links ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
footer .container .footer-box .middle-footer .quick-links ul li{
    width: calc( (100% - 30px) / 2);
}
footer .container .footer-box .middle-footer .quick-links ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 5ms;
    padding: 5px;
    color: #fff;
}
footer .container .footer-box .middle-footer .quick-links ul li a:hover{
    transform: translateX(10px);
    background-color: #8f8f8f;
}
footer .container .footer-box .middle-footer .quick-links ul li a i{
    margin-right: 5px;
}
footer .container .footer-box .content{
    width: 100%;
    /* width: calc( (100% - 40px) / 4); */
}
footer .container .footer-box .content h3{
    font-size: 18.72px;
    font-weight: 700;
    margin: 10px 0;
}
footer .container .footer-box .content ul li{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .container .footer-box .content ul li i{
    font-size: 22px;
    font-weight: 900;
    color: red;
    padding-right: 5px;
}
footer .container .footer-box .content ul li a{
    text-decoration: none;
    color: #fff;
}
/***** End Footer *****/


/***** Start Media Query *****/
@media screen and (min-width: 640px){}
@media screen and (min-width: 768px){
    .chefs-page .container .chefs-image .items{
        width: calc((100% - 60px) / 2);
    }
    .gallery-page .container .gallery-box{
        columns: 2;
    }
    .contact-page .container .contact-mealify-info .item{
        width: calc((100% - 30px) / 2);
    }
    footer .container .footer-box .about{
        width: calc( (100% - 40px) / 2);
        order: 1;
    }
    footer .container .footer-box .middle-footer{
        width: 100%;
        order: 3;
    }
    footer .container .footer-box .content{
        width: calc( (100% - 40px) / 2);
        order: 2;
    }
}
@media screen and (min-width: 1024px){
    .navbar .container .nav-content .nav-link ul{
        display: flex;
    }
    .home-page .container .home-content{
        flex-direction: row;
    }
    .home-page .container .home-content .home-info{
        text-align: start;
        width: 45%;
    }
    .home-page .container .home-content .home-info .buttons{
        justify-content: start;
    }
    .home-page .container .home-content .home-image{
        width: 40%;
    }
    .chefs-page .container .chefs-image .items{
        width: calc((100% - 60px) / 3);
    }
    .gallery-page .container .gallery-box{
        columns: 3;
    }
    .contact-page .container .contact-mealify-info .item{
        width: calc((100% - 30px) / 2);
    }
    .contact-page .container .contact-form .row .form-input{
        width: calc((100% - 20px) /2);
    }
    footer .container .footer-box .about{
        width: calc( (100% - 40px) / 4);
        order: 1;
    }
    footer .container .footer-box .middle-footer{
       width: calc( (100% - 40px) / 2);
        order: 2;
    }
    footer .container .footer-box .content{
        width: calc( (100% - 40px) / 4);
        order: 3;
    }
}
@media screen and (min-width: 1280px){}
@media screen and (min-width: 1536px){}
/***** End Media Query *****/